/* Style sheet created by: Chris Moskowitz */

body {
	background: #000000;
}

img { 
	max-width: 100%;
}


/* Styles for Mobile Layout */


#banner {
	padding-top: 10px;
	padding-left: 10%;
	padding-right: 10%;
	display: inline-block;
	background: -moz-linear-gradient(#000000, #FFFFFF); /* Firefox */ 
	background: -o-linear-gradient(#000000, #FFFFFF); /* Opera */ 
	background: -webkit-linear-gradient(#000000, #FFFFFF); /* Chrome, Safari */
	background: linear-gradient(#000000, #FFFFFF); 
	background-repeat: no-repeat;
    background-attachment: fixed;
	width: 80%;
	height: 80px;
	position: fixed;
	top: 0px;
}

#banner p {
	font: 25px sans-serif;
	color: silver;
	float: left;
	padding-left: 25px;
	margin: 0;
}

#socialLinks li img {
	width: 25px;
	height: 25px;
	padding-right: 5px;
}

#socialLinks {
	padding-top: 0.5em;
	color: white;
	float: right;
}

.socialLinks li {
	display: none;
}

#socialLinks li img:hover {
	width: 30px;
	height: 30px;
}

#socialLinks img {
	width: 25px;
	height: 25px;
	padding-right: 5px;
}

#mainnav {
	clear: both;
}

#mainnav li{
	float: left;
}

#mainnav li a{
	display: block;
	color: white;
	padding: 5px;
}

#mainnav li a:hover{
	font-weight: bold;
}

/* collapsible menu */
.socialLinks.responsive {position: relative;}
.socialLinks.responsive a.icon {
	width: 25px;
	height: 25px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.socialLinks.responsive a {
    float: none;
    display: block;
	visibility: visible;
}

.socialLinks.responsive li {
	display: inline;
}

/* end collapsible menu */


/* Style for the main  */
main {
	background-color: white;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1em;
	margin-top: 4em;
	padding: 0.5em;
	border-radius: 1em;
}

/* Style for the footer */
footer {
	background-color: white;
	color: black;
	font-size: .90em;
	text-align: center;
	margin-top: 2em;
	font-weight: bold;
}

/* Style displays the mobile class */
.mobile {
	display: inline;
} 

/* Style hides the desktop class */
.desktop {
	display: none;
}

/* Styles for tablet viewport */
@media only screen and (min-width: 600px) {


/* Style for the main element */
main {
	clear: left;
}

/* Style hides the mobile class */
.mobile {
	display: none;
}

/* Style displays the desktop class */
.desktop {
	display: inline;
}

#banner p {
	font: 35px sans-serif;
}

#socialLinks .icon {
    display: none;
}

.socialLinks li {
	display: inline;
}

#socialLinks {
	color: white;
	float: right;
}


}

/* Styles for desktop viewport */
@media only screen and (min-width: 950px) {

footer {
	background-color: black;
	color: white;
}
}

/* Styles for super small viewport */
@media only screen and (max-width: 250px) {
#banner p {
	display: none;
}

}