/* Style sheet created by: Chris Moskowitz */

body {
	background: #000000;
}

img { 
	max-width: 100%;
}


/* Styles for Mobile Layout */

/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
	font-family: Verdana, Arial, serif;
	font-size: 2em;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	text-align: center;
	padding: 0.2em;
	color: #00008d; 
}

#banner {
	padding-top: 10px;
	padding-left: 10%;
	padding-right: 10%;
	display: inline-block;
	background: -moz-linear-gradient(#000000, #FFFFFF); /* Firefox */ 
	background: -o-linear-gradient(#000000, #FFFFFF); /* Opera */ 
	background: -webkit-linear-gradient(#000000, #FFFFFF); /* Chrome, Safari */
	background: linear-gradient(#000000, #FFFFFF); 
	background-repeat: no-repeat;
    background-attachment: fixed;
	width: 80%;
}

#banner p {
	font: 25px sans-serif;
	color: silver;
	float: left;
	padding-left: 25px;

}

#socialLinks li img {
	width: 25px;
	height: 25px;
	padding-right: 5px;
}

#socialLinks {
	padding-top: 3em;
	color: white;
	float: right;
}

#socialLinks li {
	display: inline;
}

#socialLinks li img:hover {
	height: 30px;
	width: 30px;
}

#backtotop {
	float: left;
	visibility: hidden;
}

/* Style for h1 */
h1 {
	font-size: 1em;
	
}

/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
main {
	background-color: white;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 0.5em;
	border-radius: 1em;
}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	background-color: white;
	color: black;
	font-size: .90em;
	text-align: center;
	margin-top: 2em;
	font-weight: bold;
}

/* Style displays the mobile class */
.mobile {
	display: inline;
} 

/* Style hides the desktop class */
.desktop {
	display: none;
}

/* Styles for tablet viewport */
@media only screen and (min-width: 600px) {


/* Style specifies clear and margin for the main element */
main {
	clear: left;
}

#backtotop {
	visibility: visible;
}

/* Style hides the mobile class */
.mobile {
	display: none;
}

/* Style displays the desktop class */
.desktop {
	display: inline;
}

#welcome-container {
	display: inline-block;
	background-color: blue;
}

#banner p {
	font: 35px sans-serif;
}

}

/* Styles for desktop viewport */
@media only screen and (min-width: 950px) {

/* Style specifies width for container */ 
#container {
	width: 80%;
}

/* Style for main specifies border, border radius, box-shadow, and margin */
main {
		border: none;
		border-radius: 1em;
		box-shadow: 1em 1em 1em #331400;
		margin-top: 1em;
		overflow: auto;
}

/* Style specifies a gradient for the body element */ 
banner {
	
}

#welcome-container {
	background-color: lightblue;
}

footer {
	background-color: black;
	color: white;
}
}